extends layout
block content
  // Navigation bar
  div.w3-bar.w3-theme.w3-large
    a(href="/users" class="w3-bar-item w3-button w3-right") Login
    a(href="/users/register" class="w3-bar-item w3-button w3-right") Register
    a(href="/" class="w3-bar-item w3-button material-icons w3-text-green"
    style='font-size: 27px') home
    a(href="javascript: void(0)" class="w3-bar-item w3-button") About
    a(href="javascript: void(0)" class="w3-bar-item w3-button") Contact Us
  // Header
  header(class="w3-container w3-center w3-padding-48")
    h1(class="w3-jumbo w3-text-blue") Pillow
    h6 A simple medical record
      span(class="w3-tag w3-theme") as hand-written
  
