extends layout
block content
  // Navigation bar
  div.w3-bar.w3-theme.w3-large.w3-mobile
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/users")
      span.fas.fa-sign-in-alt
      span.w3-margin Login
    span.w3-bar-item(href="/")
      span.fas.fa-home
    a.w3-bar-item.w3-button.w3-hover-white(href="javascript: void(0)"): span.w3-margin Contacto
  // Header
  header.w3-center
    h1.w3-jumbo Mi Consultorio
    p Un formato para mis historias&nbsp;
      i.w3-tag.w3-theme.w3-xlarge.w3-cursive ...como hechas a mano
  
