doctype html
html(lang='en')
  head(charset='UTF-8')
    title Pillow
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet' href="https://www.w3schools.com/w3css/4/w3.css")
    - let miTema = tema ?? 'blue-grey';   
    link(rel='stylesheet' href=`https://www.w3schools.com/lib/w3-theme-${miTema}.css`)
    link(rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons")
    block head
  body.w3-theme-l3
    block content

