doctype html
html(lang='en')
  head(charset='UTF-8')
    title Mi Consulta
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet' href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel='stylesheet' href=`https://www.w3schools.com/lib/w3-theme-blue-grey.css`)
    script(src="https://kit.fontawesome.com/417630d65a.js" crossorigin="anonymous")
    block head
  body
    block content

