extends layout
block head
  script(src='/javascripts/gui.js')
block content
  //Navigation bar
  div.w3-bar.w3-theme.w3-large
    a.w3-bar-item.w3-button(href="/")
      span.fas.fa-home
      span.w3-margin Home
  //Content
  div.w3-auto.w3-padding
    div.w3-card-4.w3-section.w3-animate-bottom
      h1.w3-theme.w3-padding Iniciar Sesión
      form.w3-container(method='POST' action='/users/login')
        p
          label: b Email
          input.w3-input(name="user" type="email"
          placeholder="Enter username"  required autofocus)
        p
          label: b Password
          input.w3-input(name="password" type="password"
          placeholder="Enter password" required)
        button.w3-button.w3-right.w3-section.w3-round.w3-blue(type="submit") Login
        input.w3-check.w3-section(type="checkbox" checked="checked")
        label  Remember me
        br
        a.w3-right.w3-section(href="#") Forgot Password ?
        span.w3-block.w3-section New User? 
          a(href="/users/register") Register
  include panelinfo.pug
  script.
    window.onload = panelInformativo;