extends layout
block head
  script(src='javascripts/gui.js')
block content
  //Navigation bar
  div.w3-bar.w3-theme.w3-large.noprint(style='position: sticky; top: 0')
    a.w3-bar-item.w3-button.w3-hover-white(href="/")
      span.fas.fa-home
    span.w3-bar-item.w3-wide Nuevo Registro
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/users/logout")
      span.fas.fa-sign-out-alt
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/ajustes")
      span.fas.fa-user-cog
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/records")
      span.fas.fa-search
  //Content
  div.w3-auto.w3-padding
    div.w3-card-4.w3-section
      h1.w3-theme.w3-padding Nuevo Registro
      form.w3-container(method='POST' action='/records/storerecord')
        p
          label: b Id
          input.w3-input(name='id' type='number' readonly value=`${id}`)
        p
          //label: b Nombre(s)
          label: b Nombre(s)
          input.w3-input(name='nombre' type="text" autocomplete='off' required autofocus)
        p
          label: b Apellido(s)
          input.w3-input(name='apellido' type="text" autocomplete='off' required)
        p
          label: b Fecha de Nacimiento
          input.w3-input(name='fdn' type="date" required)
        p
          label: b Teléfono
          input.w3-input(name='tel' type="tel" pattern="[0-9]{3}-[0-9]{7}" autocomplete='off' placeholder="Example: 123-1234567" required)
        p
          label: b Email
          input.w3-input(name='email' type="email" autocomplete='off')
        label: b Antecedentes
        ul.w3-small
          li Patológicos
          li Quirúrgicos
          li Ginecológicos / Urológicos / Otros
          li Alergias / Medicaciones / Hábitos / Ocupación
        textarea.w3-input.w3-border(name='antecedentes' rows='6' style="resize: none")
        button.w3-button.w3-section.w3-round.w3-blue(type="submit") Guardar
  include panelinfo.pug
  script.
    window.onload = panelInformativo;
    
      
      