extends layout
block content
  //Navigation bar
  div(class="w3-bar w3-theme w3-large")
    a(href="/" class="w3-bar-item w3-button material-icons"
    style="font-size: 27px") home
    a(href="#" class="w3-bar-item w3-button") 
    a(href="#" class="w3-bar-item w3-button") 
  //Find Patient Form 
  form(class='w3-container w3-card-4 w3-section w3-animate-zoom'
  method="GET" action='/doctor/record' style='width: 30%; margin: auto')
    span(class="w3-block material-icons w3-margin-top w3-text-theme"
    style='font-size: 10vw; text-align: center') person_search
    label(class="w3-xlarge w3-text-blue") Paciente
    input(name='id' class="w3-input w3-section w3-border" type="number"
    autocomplete='off' placeholder="Enter ID and press [Enter]" autofocus)
  
  
  