hr.w3-text-blue.print(style="border: 4px solid; width: 10%")
h2.w3-text-blue.print Médico Tratante
table.w3-center.print(style="width: 100%; border: 1px solid; border-collapse: collapse; line-height: normal")
  tr
    td#medicoNombre(style="width: 33%; font-weight: bold;") (Configure sus Datos)
    td#medicoFirma(style="width: 33%; border-left: 1px solid;" rowspan="3") (Firma)
    td#medicoSello(style="width:33%; border-left: 1px solid;" rowspan="3") (Sello)
  tr
    td#medicoEspecialidad
  tr
    td#medicoCredenciales
hr.w3-text-blue.print(style="border: 4px dashed; width: 10%")