extends layout
block head
  link(rel='stylesheet' href='/stylesheets/mystyles.css')
  script(src='/javascripts/gui.js')
  //Navigation bar
  div.w3-bar.w3-theme.w3-large
    a.w3-bar-item.w3-button.w3-hover-white(href="/")
      span.fas.fa-home
    span.w3-bar-item.w3-wide Base de Datos
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/users/logout")
      span.fas.fa-sign-out-alt
  //Content 
  div.w3-content.w3-padding
    div.w3-card-4.w3-section.w3-animate-bottom
      h1.w3-theme.w3-padding Buscar Registro
      form.w3-container(action='/records' method="GET")
        p
          label.w3-xlarge Paciente
          input.w3-input(name='id' type="number"
          autocomplete='off' placeholder="Ingrese el ID y presione [Enter]" autofocus)
  
  include panelinfo.pug

  script.
    window.onload = panelInformativo;
    
  
  
  