extends layout

block test
  h2(class='w3-container w3-blue') User Registration #{name}
  form(id='' class='w3-container')
    p: label First Name
      input(class='w3-input' type='text')
    p: label Last Name 
      input(class='w3-input' type='text')


