@media print {
    
    .noprint {
        display: none;
    }
    .print {
        display: block;
    }
    
}
h1, h2, h3 {
    page-break-after: avoid;
    page-break-inside: avoid;
}
p {
    page-break-before: avoid;
}
table, img, ul, ol {
    page-break-inside: avoid;
}

@page {
    margin: 2cm;
}

@media only screen {
    .print {
        display: none;
    }
}

div#informe p[id] {
    white-space: pre-wrap;
     
}

input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

textarea {
    resize: none;
    overflow: auto;
}