@media print {
    
    .noprint {
        display: none;
    }
    span.w3-tag {
        
        color: black;
        background-color: white;
    }
}
h1, h2, h3 {
    page-break-after: avoid;
    page-break-inside: avoid;
}
p {
    page-break-before: avoid;
    white-space: pre-wrap;
    margin-left: 10pt;
}
table, img, ul, ol {
    page-break-inside: avoid;
}

@page {
    margin: 2cm;
}

@media only screen {
    .print {
        display: none;
    }
}

div#informe p[id] {
    white-space: pre-wrap;
     
}

input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
input {
    background-color:  ;
}
textarea {
    resize: none;
}